    body {
        margin: 0;
        min-height: 350px;
        padding: 20px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        background: linear-gradient(235deg, #b2f6ff, #9effbb);
        background-size: 200% 200%;
        overflow-y: auto;
    }

    .info-button{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 18px;
        border: none;
        border-radius: 5px;
        background-color: #4285f4;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 9999; /* prevents overlap under other elements */
        align-items: center;
    }

    .info-button:hover {
        background-color: #3367d6;
    }

    .search-container {
        position: relative;
        background-color: rgba(255,255,255,0.5);
        padding: 20px 30px;
        border-radius: 15px;
        text-align: center;
        gap: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    .search-label {
        display: block;
        font-size: 36px;
        margin-bottom: 25px;
        font-weight: bold;
    }

    input[type="text"] {
        width: 300px;
        padding: 10px 15px;
        border: 2px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus {
        border-color: #4285f4; /* blue glow */
    }

    .back-button {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 10px 18px;
        border: none;
        border-radius: 5px;
        background-color: #4285f4;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 9999; /* prevents overlap under other elements */
        align-items: center;
    }

    .back-button:hover {
        background-color: #3367d6;
    }

    button {
        margin-left: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: #4285f4;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #3367d6;
    }

    .regionLabel {
        padding: 100px 10px;
        font-size: 16px;
        outline: none;
    }
    
    .result-container {
        background-color: rgba(255,255,255,0.0);
        padding: 20px 30px;
        border-radius: 15px;
        text-align: center;
        gap: 10px;
    }

    .result-block {
        background-color: rgba(255,255,255,0.7);
        padding: 20px 100px;
        border-radius: 15px;
        text-align: center;
        gap: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    .result-title {
        font-size: 30px;
        color: rgba(79, 103, 255, 1.0);
    }

    .result-score {
        font-size: 20px;
        color: rgba(78, 78, 78, 0.9);
    }

    .result-snippet {
        font-size: 20px;
        color: rgba(78, 78, 78, 0.9);
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        background: #fff;
        padding: 10px 15px;
        border-radius: 10px;
        width: 300px;
        max-width: 90%;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        position: relative;
        animation: fadeIn 0.3s ease-out;
    }

    .close-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: scale(0.9); }
        to   { opacity: 1; transform: scale(1); }
    }