<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="pageStyle.css">
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DS_FinalProject</title>
</head>
<body>
	<button class="info-button" onclick="alert('This search engine is still in construction,'+
	' do not use for any activity illegal.')">Info</button>
  	<div class="search-container">
		<label class="search-label" for="searchInput">Search engine for travelling in southern Taiwan</label>
		<form th:action="@{/search}" method="get">
			<input type="text" name="query" placeholder="Search..." />
			<button type="submit">Search</button>
		</form>
		<div th:if="${searchResults != null}">
			<h2>Search results for "<span th:text="${query}"></span>":</h2>
			<ul>
				<li th:each="item : ${searchResults}">
					<a th:href="${item.link}" th:text="${item.title}" target="_blank"></a>
					<p th:text="${item.snippet}"></p>
				</li>
			</ul>
		</div>
  	</div>
</body>
</html>