    body {
        margin: 0;
        min-height: 350px;
        padding: 20px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        background: linear-gradient(235deg, #bdbdbd, #ffffff);
        background-size: 800% 800%;
        overflow-y: auto;
    }

    .info-button{
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 18px;
        border: none;
        border-radius: 5px;
        background-color: #4285f4;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 9999; /* prevents overlap under other elements */
        align-items: center;
    }

    .info-button:hover {
        background-color: #3367d6;
    }

    .search-container {
        background-color: rgba(255,255,255,1.0);
        padding: 20px 30px;
        border-radius: 15px;
        text-align: center;
        gap: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    .search-label {
        display: block;
        font-size: 36px;
        margin-bottom: 25px;
        font-weight: bold;
    }

    input[type="text"] {
        width: 300px;
        padding: 10px 15px;
        border: 2px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus {
        border-color: #4285f4; /* blue glow */
    }

    button {
        margin-left: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: #4285f4;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #3367d6;
    }
    
    .response {
        margin-top: 0px;
        font-weight: bold;
        font-size: 18px;
        color: #333;
    }
